html {
  font-size: 100%;
  scroll-behavior: smooth;
  height: auto;
  min-height: 100%;
  margin: 0; /* remove default margins that cause scroll */
}

body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Lexend", Helvetica, Arial, sans-serif;
  color: #EBF2FA;
  background-color: #01011e; /*base bg color */
  padding: 0;
  height: 100%;
  margin: 0; /* remove default margins that cause scroll */
}

main {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 60px;
  box-shadow: inset 0px 40px 35px -30px #000000; /*x, y, blur, spread, color */
}

.topspace {
  margin-top: 40px;
}

/*********************************************************************


                            BG Animation


**********************************************************************/
.blob-container {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
  grid-template-columns: 1fr;
  row-gap: 300px;
  pointer-events: none;
  overflow: hidden;
  z-index: -5;
}

.blob {
  width: 400px;
  aspect-ratio: 1/1;
  margin-top: 60px;
  background: 
  radial-gradient(circle at 30%, #6978ff 10%, #3b00b2 70%, #0a0a32 100%);
  border-radius: 30% 70% 70% 30% / 30% 40% 70% 70%;
  filter:blur(40px);
  animation: rotateBlob 10s linear infinite, morphBlob 3s linear infinite;
}

.blob-left {
  justify-self: start;
}

.blob-right {
  justify-self: end;
}

.blob-small {
  width: 200px;
}

.blob-big {
  width: 600px;
}

@keyframes rotateBlob {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes morphBlob {
  0%, 100% {
    border-radius: 30% 70% 70% 30% / 30% 40% 70% 70%;
  }

  20% {
    border-radius: 40% 65% 50% 50% / 40% 35% 35% 65%;
  }
  
  40% {
    border-radius: 35% 65% 65% 35% / 65% 50% 50% 25%;
  }

  60% {
    border-radius: 40% 65% 50% 50% / 30% 30% 70% 75%;
  }

  80% {
    border-radius: 40% 60% 40% 60% / 50% 50% 50% 60%;
  }
}

/*********************************************************************


                            Navigation in header


**********************************************************************/
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  border-width: 1px 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%;
  opacity: .85;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Lexend", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.navbar-collapse .navbar-nav > li {
  display: inline-block;
}
.navbar-collapse .navbar-nav > li > a {
  padding: 20px 30px;
}
.dropdown ul.dropdown-menu {
  background-color: #01011e;
  text-align: left;
}
.navbar-default {
  background-color: #01011e;
  border-color: #01011e;
}
.navbar-default .navbar-nav > li > a {
  color: #EBF2FA;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #94baff;
  background-color: #01011e;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #EBF2FA;
  background-color: #01011e;
}
.navbar-default .dropdown ul.dropdown-menu > li > a {
  color: #EBF2FA;
}
.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
  background-color: #01011e;
  color: #94baff;
}
.navbar-default .navbar-toggle {
  border-color: #666666;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #EBF2FA;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #EBF2FA;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cccccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #01011e;
  color: #94baff;
}

/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}
ul,
ol {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #EBF2FA;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lexend", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #EBF2FA;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
a {
  color: #94baff;
}
a:hover {
  color: #82aeff;
}
.lead {
  font-weight: 300;
  font-size: 21px;
  font-size: 1.1125rem;
  color: #EBF2FA;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}
.text-msg {
  line-height: 1.7em;
  color: #EBF2FA;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.highlight-text {
  color:#94baff;
  font-weight: bold;
}

img, video {
  max-width: 100%;
  height: auto;
}
/*********************************************************************


                                HEADER


**********************************************************************/
#head {
  /*background: #ffffff url(../images/bg_head.jpg) top center;*/
  background-size: cover;
  color: hsl(262, 100%, 54%);
}
#head img.img-circle {
  display: block; 
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 9px solid #01011e84;
  margin: 10px auto;
}
#head .title {
  display: block;
  font-family: "Lexend", Georgia, serif;
  font-weight: 500;
  font-size: 4rem;
  color: #ffffff;
  padding: 10px 30px;
  margin-top: 5%;
}

#head .tagline {
  font-weight: 200;
  font-size: 2.2rem;
  padding: 10px 10px;
  line-height: 1.2em;
  color: #ffffff;
  margin: 15px 0 0;
}

.profile-container {
  position: relative;
  margin-top: 1%;
  width: 100%;
  height: 550px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  /*overflow: hidden;*/
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the container */
  filter: opacity(50%);
  z-index: -2; /* Video stays behind the content */
}

.bg-video-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(50%);
  object-fit: cover; /* Ensures the video covers the container */
  z-index: -1;
}
/*********************************************************************


                                CONTENT


**********************************************************************/
.terminalAnim {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  background-color: #000;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 5%;
  padding: 20px;
  width: 60%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 1.2rem;
}

.prompt {
  padding-right: 15px;
}

.cursor {
  display: inline-block;
  width: 10px;
  background-color: #ffffff;
  margin-left: 2px;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

#typed-text {
  display: inline-block;
  overflow: hidden;
  width: auto;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  animation:
    typing 2s steps(13, end),
    blink 1s step-start infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 13ch }
}


img {
  max-width: 100%;
}

.aboutme-block {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
/* Layout for the portfolio grid */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  width: 100%;
  gap: 60px;                             /* Space between the blocks */
  padding: 20px;
  justify-content: center;
}

/* Style for each project block */
.project-block {
  display: flex;
  flex-direction: column;                         /* Horizontal layout for gif and text */
  text-align: center;
  padding-bottom: 20px;
  background-color: #ccccff1a;
  border: 1px solid #ffffff;                /* Border around each block */
  border-radius: 30px;
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Make the block grow a bit on hover */
.project-block:hover {
  cursor: pointer;
  transform: scale(1.05);                /* Grows the block slightly on hover */
}

/* Style for the GIF container */
.gif-container {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 5%;
  margin-bottom: 3%;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.project-gif {
  width: auto;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #ffffff;
  display: none;                         /* Hide both images initially */
}

/* Show the static image by default */
.project-gif.static {
  display: block;                        /* Only the static image is visible */
  
}

/* Show the animated GIF on hover */
.project-block:hover .static {
  display: none;                         /* Hide the static image */
}

.project-block:hover .animated {
  display: block;                        /* Show the animated GIF */
}

/* Project title */
.project-info h2 {
  margin: 0% 4%;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffffff;
}

/* Project description */
.project-info p {
  margin: 5px 0 0;
  padding-bottom: 20px;
  font-size: 1.2em;
  font-weight: 200;
  color: #ffffff;
}

/*********************************************************************


                                 POPUPS


**********************************************************************/
/* Pop-up overlay */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Pop-up content */
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #01011e;
  padding: 20px;
  width: 920px;
  height: 480px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  z-index: 10000; /* Ensure this is higher than the video iframe */
}

.popup-body {
  display: flex; /* Makes video and text sit beside each other */
  align-items: center; /* Vertically center the video and text */
  justify-content: left; /* Centers both containers */
  width: 100%; /* Full width of the popup */
  height: 100%;
}

.popup-description p{
  margin-bottom: 12%;
}

.popup-footer {
  display: inline-flex;
  width: 95%;
  justify-content: space-between; /* Separate the link and icons */
  align-items: center;
  margin-top: 25px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 32px;
  cursor: pointer;
}

.youtube-container {
  margin-left: 2%; /* Space between video and text */
  margin-right: 4%;
}
.youtube-container iframe{
  width: 400px; 
  height: 300px;
  box-shadow: 0px 0px 10px 1px #ffffff77;
  border-radius: 15px;
}

.popup-text{
  align-self: start;
  font-weight: 350;
  margin-top: 1%;
}
.popup-text h2{
  color: #94baff;
}
.popup-text p{
  color: #EBF2FA;
  font-size: 14px;
  margin: 0 0 15px 0;
}

.external-link {
  align-items: center;
  text-align: left;
}
.external-link img {
  width: 28px;
  margin-right: 5px;
}

.tools {
  display: flex;
  align-items: center;
  text-align: left;
  min-width: 35%;
  font-weight: 300;
  column-gap: 3%;
  margin-left: 10px;
}
.tools img {
  width: 28px;
  height: auto; /* Maintain aspect ratio */
}
.tools p{
  margin: 0%;
}

/* Show the pop-up */
.show-popup {
  display: flex;
}

/*********************************************************************


                             SECTIONS TITLE


**********************************************************************/
.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  background-color: #ccccff1a;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  font-weight: 800;
  font-size: 52px;
  font-size: 2.6rem;
  color: #ffffff;
  letter-spacing: 1px;

  transition: transform 0.3s ease, background-color 0.3s ease;
}
.section-title a {
  color: #333333;
}
.section-title span {
  position: relative;
}
.section-title:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.collapse-arrow {
  margin: 15px;
  width: 32px;
}

.section-title.collapsed img {
  rotate: 0deg;
  transition: 0.3s ease;
}

.section-title:not(.collapsed) img {
  rotate: -180deg;
  transition: 0.3s ease;
}

.collapsing {
  opacity: 0.5;
  transition: 0.3s ease;
}


/*********************************************************************


                                FOOTER


**********************************************************************/
#footer {
  background: #3b00b2;
  padding: 60px 0 30px 0;
  font-size: 1.0575rem;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
}
#footer a:hover {
  color: #94baff;
}
#footer h2.widget-title {
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 20px;
}

#underfooter {
  background: #191919;
  padding: 5px 0;
  color: #777;
  font-size: 10px;
}
#underfooter a {
  color: #aaa;
}
#underfooter a:hover {
  color: #fff;
}
#underfooter p {
  margin-left: 80%;
  margin-bottom: 0%;
}
.follow-me-icons {
  font-size: 30px;
  margin-bottom: 5%;
}
.follow-me-icons i {
  float: left;
  margin-right: 5%;
}

/*********************************************************************


                              MEDIA RESPONSIVE


**********************************************************************/
@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

@media (max-width: 768px) {
  .navbar-collapse .navbar-nav > li > a {
    font-size: 10px;
    font-size: 0.7575rem;
    padding: 10px 15px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #EBF2FA;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover  {
    background-color: #01011e;
    color: #EBF2FA;
  }

  #head .title {
    font-size: 2.5rem;
    padding-bottom: 0px;
  }
  #head .tagline {
    font-size: 1.5rem;
  }

  .container {
    max-width: 750px;
  }
  .aboutme-block {
    display: flex; 
    flex-direction: column;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    margin: 0 auto; /* Horizontally centers block element */
  }

  .section-title {
    display: flex; 
    flex-direction: column;
    justify-content: center; /* Centers items horizontally */
    width: 80%;
    align-items: center; /* Centers items vertically */
    margin: 0 auto; /* Horizontally centers block element */
  }

  .aboutme-block .lead{
    font-size: 10px;
    font-size: 0.9875rem;
  }
  .portfolio-grid {
    grid-template-columns: 1fr; /* 1 columns on smartphones */
  }

  .project-info h2{
    font-size: 1.5rem;
  }

  .popup-content{
    width: 480px;
    height: 650px;
  }
  .popup-body{
    display: flex;
    flex-direction: column;
  }

  .youtube-container iframe{
    width: 280px; 
    height: 180px; 
  }

  .popup-text p{
    align-self: start;
    font-size: 0.7875rem;
  }
  .popup-text h2{
    margin-top: 10px;
    font-size: 1.7575rem;
  }

  #footer {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #footer .follow-me-icons {
    display: flex;
    justify-content: space-around;
  }
} 