html {
  font-size: 100%;
  scroll-behavior: smooth;
  
}
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Outfit", Helvetica, Arial, sans-serif;
  color: #EBF2FA;
  background-color: #031D44; /*for older browsers that don't support bg gradients */
  background: linear-gradient(to bottom, #04395E, #031D44);
  padding: 0;
}

.topspace {
  margin-top: 40px;
}
/*********************************************************************


                            Navigation in header


**********************************************************************/
.navbar {
  border-width: 1px 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%;
}
.navbar.stick {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .85;
  
}
.navbar-collapse {
  display: flex;
  flex-direction: row;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Outfit", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-collapse .navbar-nav > li > a {
  padding: 20px 30px;
}
.dropdown ul.dropdown-menu {
  background-color: #04395E;
  text-align: left;
}
.navbar-default {
  background-color: #052F5F;
  border-color: #052F5F;
}
.navbar-default .navbar-nav > li > a {
  color: #EBF2FA;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #A5BE00;
  background-color: #052F5F;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #EBF2FA;
  background-color: #052F5F;
}
.navbar-default .dropdown ul.dropdown-menu > li > a {
  color: #EBF2FA;
}
.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
  background-color: #052F5F;
  color: #EBF2FA;
}
.navbar-default .navbar-toggle {
  border-color: #666666;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #EBF2FA;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #EBF2FA;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cccccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #04395E;
  color: #A5BE00;
}
/****************************************************************************************


                                     Sidebar special Nav


*****************************************************************************************/
.nav-side {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -0.37em;
}
.nav-side > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #f392b4;
}
.nav-side > li > a:hover {
  color: #bd1550;
  background: none;
}
.nav-side > li.active > a {
  color: #bd1550;
}
/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}
ul,
ol {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #EBF2FA;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Outfit", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #EBF2FA;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
a {
  color: #679436;
}
a:hover {
  color: #A5BE00;
}
.lead {
  font-weight: 300;
  font-size: 21px;
  font-size: 1.1125rem;
  color: #EBF2FA;
  margin-right: 30%;
}
.text-msg {
  line-height: 1.7em;
  color: #EBF2FA;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

img, video {
  max-width: 100%;
  height: auto;
}
/*********************************************************************


                                HEADER


**********************************************************************/
#head {
  /*background: #ffffff url(../images/bg_head.jpg) top center;*/
  background-size: cover;
  color: hsl(262, 100%, 54%);
}
#head img.img-circle {
  display: block; 
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 9px solid #031d4482;
  margin: 10px auto;
}
#head .title {
  font-family: "Outfit", Georgia, serif;
  font-size: 49px;
  font-size: 3.0625rem;
  color: #ffffff;
  background-color: #031d4482; /* Semi-transparent black background */
  padding: 10px 50px;
  margin-top: 5%;
  border-radius: 5px 5px 5px 5px; /* Optional rounded corners */
}
#head .title a {
  text-decoration: none;
  color: #333333;
}
#head .tagline {
  font-size: 14px;
  font-size: 0.975rem;
  line-height: 1.2em;
  color: #ffffff;
  margin: 15px 0 0;
}
#head .tagline b {
  font-weight: normal;
}
#head .tagline a {
  color: #5E5E5E;
}
.home #head {
  padding: 90px 0;
}
.home #head .title {
  display: block;
  font-size: 49px;
  font-size: 3.0625rem;
}
.home #head .tagline {
  display: block;
  font-size: 16px;
  font-size: 1.1rem;
  background-color: #031d4482; /* Semi-transparent black background */
  padding: 10px 10px;
  border-radius: 5px 5px 5px 5px; /* Optional rounded corners */
}

.profile-container {
  position: relative;
  margin-top: 1%;
  width: 100%;
  height: 550px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  /*overflow: hidden;*/
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the container */
  z-index: -1; /* Video stays behind the content */
}
/*********************************************************************


                                CONTENT


**********************************************************************/

img {
  max-width: 100%;
}
.btn {
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Outfit", Helvetica, Arial, sans-serif;
  color: #04395E;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 0px;
  padding: 12px 35px;
  text-shadow: 0 1px 0px #679436;
}
.btn-primary {
  color: #04395E;
  background-color: #A5BE00;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #FFFFFF;
  background-color: #A5BE00;
}
.btn-action {
  font-weight: bold;
  background: transparent!important;
  border: 1px solid #333;
  text-shadow: none;
}
.btn-action:hover,
.btn-action:focus,
.btn-action:active,
.btn-action.active {
  color: #bd1550;
  border-color: #bd1550;
}
.btn-lg {
  padding: 15px 60px;
  font-size: 16px;
  letter-spacing: 5px;
  line-height: 1.33;
  font-weight: bold;
}
.panel-cta {
  box-shadow: 0 0 0 1px #e1e1e1, 0 0 0 3px #fff, 0 0 0 4px #e1e1e1;
  background: #f3f3f3;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.panel-cta p,
.panel-cta h3,
.panel-cta h4,
.panel-cta h5,
.panel-cta h6 {
  margin: 0;
}
.panel-cta .panel-body {
  padding: 35px;
}
/* Section - Featured */
.featured {
  font-size: 13px;
  font-size: 0.8125rem;
}
.featured h3 {
  font-weight: bold;
  font-family: "Outfit", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.4em;
  vertical-align: middle;
  margin: 0 0 25px 0;
}
/* Section - Recent works */
.thumbnails {
  padding: 0;
}
.thumbnails li {
  margin-bottom: 30px;
}
.thumbnails .details {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}
.thumbnail {
  display: block;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #333;
}
.thumbnail .img {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 180px;
  margin: 0 0 20px;
  position: relative;
}
.thumbnail .title {
  text-transform: uppercase;
  margin: 0 2em;
  display: block;
  text-indent: 0;
}
.thumbnail .cover {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 550ms;
  -moz-transition-duration: 550ms;
  -o-transition-duration: 550ms;
  transition-duration: 550ms;
}
.thumbnail .cover .more {
  position: absolute;
  bottom: 15px;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  -webkit-border-radius: 1px 0 0 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px 0 0 1px;
  -moz-background-clip: padding;
  border-radius: 1px 0 0 1px;
  background-clip: padding-box;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-shadow: 0 1px 0px #780d33;
  background: #bd1550;
  color: white;
}
.thumbnail img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.thumbnail:hover {
  color: #333;
  text-decoration: none;
}
.thumbnail:hover img {
  -webkit-filter: saturate(0%);
}
.thumbnail:hover .cover {
  opacity: 1;
}
/* pagination */
.pagination > li > a {
  color: #808080;
  border: 0 none;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Georgia, serif;
}
.pagination > li > a:hover {
  color: #000000;
  background: none;
}
.pagination > li.active > a {
  color: #333333;
  background: none;
}
.pagination > li.active > a:hover {
  color: #000000;
  background: none;
}

.aboutme-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Layout for the portfolio grid */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px;                             /* Space between the blocks */
  padding: 20px;
  justify-content: center;
}

/* Style for each project block */
.project-block {
  display: flex;
  flex-direction: column;                         /* Horizontal layout for gif and text */
  text-align: center;
  border: 2px solid #679436;                /* Border around each block */
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Make the block grow a bit on hover */
.project-block:hover {
  transform: scale(1.05);                /* Grows the block slightly on hover */
  background-color: #04395E;             /* Optional: change the background */
}

/* Style for the GIF container */
.gif-container {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 5%;
  width: 426px;
  height: 240px;
  overflow: hidden;
}

.project-gif {
  width: auto;
  height: 100%;
  display: none;                         /* Hide both images initially */
}

/* Show the static image by default */
.project-gif.static {
  display: block;                        /* Only the static image is visible */
}

/* Show the animated GIF on hover */
.project-block:hover .static {
  display: none;                         /* Hide the static image */
}

.project-block:hover .animated {
  display: block;                        /* Show the animated GIF */
}

/* Project title */
.project-info h2 {
  margin: 0;
  padding-top: 15px;
  font-size: 1.6em;
  color: #A5BE00;
}

/* Project description */
.project-info p {
  margin: 5px 0 0;
  font-size: 1em;
  font-weight: 200;
  color: #EBF2FA;
}

/*********************************************************************


                                 POPUPS


**********************************************************************/
/* Pop-up overlay */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Pop-up content */
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #04395E;
  padding: 20px;
  width: 920px;
  height: 480px;
  border-radius: 10px;
  z-index: 10000; /* Ensure this is higher than the video iframe */
}

.popup-body {
  display: flex; /* Makes video and text sit beside each other */
  align-items: center; /* Vertically center the video and text */
  justify-content: left; /* Centers both containers */
  width: 100%; /* Full width of the popup */
  height: 100%;
}

.popup-description p{
  margin-bottom: 12%;
}

.popup-footer {
  display: inline-flex;
  width: 95%;
  justify-content: space-between; /* Separate the link and icons */
  align-items: center;
  margin-top: 25px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 32px;
  cursor: pointer;
}

.youtube-container {
  margin-left: 2%; /* Space between video and text */
  margin-right: 4%;
}
.youtube-container iframe{
  width: 400px; 
  height: 300px; 
}

.popup-text{
  align-self: start;
  font-weight: 350;
  margin-top: 1%;
}
.popup-text h2{
  color: #A5BE00;
}
.popup-text p{
  color: #EBF2FA;
  font-size: 14px;
  margin: 0 0 15px 0;
}

.external-link {
  align-items: center;
  text-align: left;
}
.external-link img {
  width: 28px;
  margin-right: 5px;
}

.tools {
  display: flex;
  align-items: center;
  text-align: left;
  min-width: 35%;
  font-weight: 300;
  column-gap: 3%;
  margin-left: 10px;
}
.tools img {
  width: 28px;
  height: auto; /* Maintain aspect ratio */
}
.tools p{
  margin: 0%;
}

/* Show the pop-up */
.show-popup {
  display: flex;
}

/*********************************************************************


                             SECTIONS TITLE


**********************************************************************/
.section-title {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 75px 0 20px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  font-size: 2.25rem;
  color: #A5BE00;
  letter-spacing: 1px;
}
.section-title a {
  color: #333333;
}
.section-title span {
  display: inline-block;
  position: relative;
}
.section-title span:before,
.section-title span:after {
  content: "";
  position: absolute;
  height: 5px;
  top: .53em;
  width: 400%;
  border-bottom: 2px solid #A5BE00;
}
.section-title span:before {
  right: 100%;
  margin-right: 45px;
}
.section-title span:after {
  left: 100%;
  margin-left: 45px;
}


/*********************************************************************


                                FOOTER


**********************************************************************/
#footer {
  background: #679436;
  padding: 60px 0 30px 0;
  margin-top: 6%;
  font-size: 1.0575rem;
  color: #031D44;
}
#footer a {
  color: #031D44;
}
#footer a:hover {
  color: #fff;
}
#footer h2.widget-title {
  font-weight: 500;
  color: #031D44;
  margin: 0 0 20px;
}

#underfooter {
  background: #191919;
  padding: 10px 0;
  color: #777;
  font-size: 10px;
}
#underfooter a {
  color: #aaa;
}
#underfooter a:hover {
  color: #fff;
}
#underfooter p {
  margin-left: 80%;
  margin-bottom: 0%;
}
.follow-me-icons {
  font-size: 30px;
  margin-bottom: 5%;
}
.follow-me-icons i {
  float: left;
  margin-right: 5%;
}

/*********************************************************************


                              MEDIA RESPONSIVE


**********************************************************************/
@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

@media (max-width: 768px) {
  .navbar-collapse .navbar-nav > li > a {
    font-size: 10px;
    font-size: 0.7575rem;
    padding: 10px 15px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #EBF2FA;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover  {
    background-color: #031D44;
    color: #EBF2FA;
  }

  .container {
    max-width: 750px;
  }
  .aboutme-block {
    display: flex; 
    flex-direction: column;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    margin: 0 auto; /* Horizontally centers block element */
  }

  .aboutme-block .lead{
    font-size: 10px;
    font-size: 0.9875rem;
    margin: 6%;
  }
  .portfolio-grid {
    grid-template-columns: 1fr; /* 1 columns on smartphones */
  }

  .popup-content{
    width: 480px;
    height: 650px;
  }
  .popup-body{
    display: flex;
    flex-direction: column;
  }

  .youtube-container iframe{
    width: 280px; 
    height: 180px; 
  }

  .popup-text p{
    align-self: start;
    font-size: 0.8875rem;
  }
  .popup-text h2{
    margin-top: 0;
    font-size: 1.8575rem;
  }

  #footer {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #footer .follow-me-icons {
    display: flex;
    justify-content: space-around;
  }
} 